body{
  padding-top: 1em;
}

.checklist-item {
  width: 100%;
}

.card-content {
  padding-top: 0;
}

.project-name {
  display: flex;
  justify-content: stretch;
}

.project-name > a {
  width: 100%;
}

.checklist-item {
  padding-bottom: 0.5em;
}

.column-padding {
  padding: 0 1em;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
